<% if (Array.isArray(titles)) { %>
<ul>
  <% for(var i=0; i < titles.length; i++) {%>
  <li>
    <a href="<%= titles[i]['href'] %>" target="_blank">
      <%= titles[i]['title'] %>
    </a>
  </li>
  <% } %>
</ul>
<% } %>

<form action="/" method="post" class="form" style="max-width: 640px; ">

  <div class="form-item">
    <label>网站名称</label>
    <input type="text" name="title"/>
  </div>

  <div class="form-item">
    <label>网站URL</label>
    <input type="text" name="url" value="https://cnodejs.org/"/>
  </div>

  <div class="form-item">
    <label>模块URL</label>
    <input type="text"/>
  </div>
  <p>配置 URL 规则，分页使用 * 代替</p>

  <div class="form-item">
    <label>网站类型</label>
    <select>
      <option>请选择</option>
      <option>新闻资讯</option>
      <option>论坛社区</option>
      <option>土豆优酷等视频站</option>
      <option>音乐网站</option>
      <option>社交网站</option>
      <option>招聘网站</option>
      <option>信息发布网站</option>
      <option>其他</option>
    </select>
  </div>

  <div class="form-item">
    <label>编码格式</label>
    <select>
      <option>自动</option>
      <option>UTF-8</option>
      <option>GB2312</option>
      <option>GBK</option>
      <option>其他</option>
    </select>
  </div>

  <div class="form-item">
    <label>Cookie</label>
    <input type="text"/>
  </div>

  <div class="form-item">
    <label>间隔时间</label>
    <select>
      <option>自动</option>
      <option>三十秒</option>
      <option>一分钟</option>
      <option>五分钟</option>
      <option>十分钟</option>
      <option>半小时</option>
      <option>一小时</option>
      <option>三小时</option>
      <option>六小时</option>
      <option>八小时</option>
      <option>十二小时</option>
      <option>一天</option>
    </select>
  </div>

  <div class="form-item">
    <label>线程数</label>
    <input type="number" min="0" max="50" step="1" value="20"/>
  </div>

  <div class="form-item">
    <label>代理IP</label>
    <input type="text"/>
  </div>

  <div class="form-item">
    <label>反扒策略</label>

    <div class="form-checkboxes">
      <label class="checkbox">
        <input type="radio" name="celue" checked/>
        正常
      </label>
      <label class="checkbox">
        <input type="radio" name="celue"/>
        动态
      </label>
      <label class="checkbox">
        <input type="radio" name="celue"/>
        登录
      </label>
    </div>
  </div>

  <div class="form-item">
    <label>用户名</label>
    <input type="text"/>
  </div>

  <div class="form-item">
    <label>密码</label>
    <input type="text"/>
  </div>

  <div class="form-item">
    <button type="submit">开始</button>
    <button type="reset" class="button secondary">取消</button>
  </div>

</form>
